<% if user_signed_in? %>
  <h2>ログイン中のアカウント：<%= current_user.email %> </h2>
  <p>
    <%= link_to "マイページ", user_path(current_user), class: "text-primary" %> へ
  </p>
<% else %>
  <h1>ようこそ！</h1>
  <p>e-talk supportでは、ログインするとマイページが表示されます。</p>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
