<% if user_signed_in? %>
  <h1>こんにちは、<%= current_user.email %> さん！</h1>
  <p>こちらはあなたのマイページです。</p>
<% else %>
  <h1>ようこそ！</h1>
  <p>e-talk supportでは、ログインするとマイページが表示されます。</p>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>