<header class="header">
  <a href="/" class="logo">e-talk support</a>
  <nav class="nav">
    <% if user_signed_in? %>
    <%= form_with url: destroy_user_session_path, method: :delete do %>
      <button type="submit" data-confirm="ログアウトしますか？">ログアウト</button>
    <% end %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>

  </nav>
</header>
